---
layout: default
---

<div class="home">

  <h1>Salon des Refusés</h1>

  <p>"As a result of the <a href="http://www.tml.cs.uni-tuebingen.de/team/luxburg/misc/nips2016/index.php">NIPS review process</a>, we accepted less than 600 papers out of nearly 2500 submissions. With a review process of this scale it is unavoidable that among the rejected papers there are hidden gems that simply drowned in the review process. For this reason we propose an exhibition of rejected papers, in a spirit similar to the <a href="https://en.wikipedia.org/wiki/Salon_des_Refus%C3%A9s">Salon de Refuesés</a>. Below you can find a list of those rejected NIPS submissions whose authors decided to take part in the exhibition. Neither NIPS nor the program committee provides any warranty about the quality of these papers." - <i>Isabelle Guyon and Ulrike von Luxburg</i></p>


  <p>As the <a href="http://inverseprobability.com/2015/01/16/blogs-on-the-nips-experiment">NIPS experiment</a> showed, the consistency of the reviewing process is far from perfect. As <a href="http://www.cs.utexas.edu/~ecprice/">Eric Price</a> wrote in a <a href="http://blog.mrtz.org/2014/12/15/the-nips-experiment.html">blog post</a> about the experiment: "In other words, most papers at NIPS would be rejected if one reran the conference review process ." A hallmark of every good scientist is to always recognise that they may have been mistaken. The list below of papers rejected by the review process is an admirable recognition of the cognitive limitation that we all share. No doubt many of these papers have flaws. But recognising several former NIPS program chairs as authors makes me certain that there are, as Isabelle and Ule say, likely to be some gems here - <i>Bob Williamson</i> </p>

  <h3>Exhibitions of the Salon des Refusés</h3>
  
  <ul>
  {% for repository in site.github.public_repositories %}{% if repository.has_pages %}{% if repository.name contains 'github.io' %}{% else %} <li><a href="./{{ repository.name }}/">{{ repository.name }}</a> {{ repository.description }} </li>
  {% endif %}{% endif %}{% endfor %}
  </ul>


  <h3>Comments on the Idea</h3>

  <p>What do you think of this idea? Let us know by placing a comment below.</p>
    
    {% if site.comments %}
    {% include disqus_comment_code.html %}
    {% endif %}
</div>
